@model string;
@{
    var isArabic = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <div class="text-white" style="position:fixed;bottom:25px;@(isArabic ? "left:25px" :"right:25px" )">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"> @localizer["BtnAdd"] </i>
        </a>
    </div>
}
